<div class="card"
     [ngClass]="customClass">
    <app-loading-indicator [appearance]="'fullwidth'"
                           *ngIf="isComponentLoading">
    </app-loading-indicator>
    <div class="card-body cases-text-card-tile">
        <div class="content">
            <div class="w-100 d-flex">
                <div class="label mr-auto">
                    {{ translationKey | translate }}
                </div>

                <app-snippet-cases-trend [casesToday]="casesToday"
                                         [casesDelta]="casesDelta">
                </app-snippet-cases-trend>
            </div>

            <div class="number"
                 *ngIf="totalData">
                {{ totalData[viewCase] | number }}
            </div>
        </div>

        <div id="{{ COMPONENT_ID }}"
             class="mini-line-chart">
        </div>
    </div>
</div>
