@import '../../../assets/scss/variables';

::ng-deep {
    .cases-text-card-tile {
        position: relative;
        height: 150px;

        .content {
            position: absolute;
            width: calc(100% - 2.5rem);
            height: 100%;
            z-index: 2;

            .label {
                font-size: 18px;
                line-height: 1.3;
                letter-spacing: 0;
                text-transform: capitalize;
            }

            .number {
                width: 100%;
                font-family: $font-family-alternative;
                font-size: 32px;
                line-height: 38px;
                font-weight: 700;
                margin-top: 5px;
            }
        }

        .mini-line-chart {
            position: absolute;
            bottom: 0;
            width: calc(100% - 1.7rem);
            margin-left: -3px;
            margin-bottom: 15px;
            height: 80px;
            z-index: 1;

            svg {
                g[aria-labelledby$="-title"] {
                    display: none;
                }
            }
        }
    }
}
