<div class="container-fuild">
    <div class="row mb-5">
        <div class="col-12">
            <app-geo-map-country #worldChart
                                 *ngIf="countryCode"
                                 [countryCode]="countryCode">
            </app-geo-map-country>
        </div>
    </div>
</div>

<div class="container">
    <div class="row"
         *ngIf="selectedCountry">
        <div class="col-12">
            <h1>
                {{ selectedCountry.name }}
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-4">
            <app-cases-text-title [translationKey]="'Total confirmed'"
                                  [viewCase]="'confirmed'"
                                  [totalData]="totalCases"
                                  [chartData]="casesByDay">
            </app-cases-text-title>
        </div>

        <div class="col-4">
            <app-cases-text-title [translationKey]="'Total deaths'"
                                  [viewCase]="'deaths'"
                                  [totalData]="totalCases"
                                  [chartData]="casesByDay">
            </app-cases-text-title>
        </div>

        <div class="col-4">
            <app-cases-text-title [translationKey]="'Total recovered'"
                                  [viewCase]="'recovered'"
                                  [totalData]="totalCases"
                                  [chartData]="casesByDay">
            </app-cases-text-title>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 p-5">
    <div class="row mb-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="header-component">
                        Cases Curve
                    </div>
                    <app-cases-line-chart [chartData]="casesByDay"></app-cases-line-chart>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="header-component">
                        Cases per day
                    </div>
                    <app-cases-bar-chart [chartData]="casesByDay"></app-cases-bar-chart>
                </div>
            </div>
        </div>
    </div>
</div>
