@import '../../../assets/scss/variables';

.cases-text-card-tile {
    .label {
        font-size: 16px;
    }

    .number {
        font-size: 45px;
    }
}

.empty-country-selection {
    min-height: 400px;
}
