*:focus {
    outline: none;
    outline-width: 0;
}

body {
    font-family: $font-family-text;
    color: $font-color;
    background: $main-body-background;
}

.page-content {
    margin-top: 56px;
}

.header-component {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
