<app-loading-indicator [appearance]="'fullwidth'"
                       *ngIf="isComponentLoading">
</app-loading-indicator>

<div class="card">
    <div class="card-body">
        <div class="data-table-container">
            <div class="data-table-filter d-flex align-items-center">
                <div class="header-component">
                    Global Data Table
                </div>

                <div class="search-field input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>

                    <input type="text"
                           class="form-control"
                           placeholder="Search..."
                           [(ngModel)]="filterCountryName"
                           (keyup)="filterCountries($event)" />
                </div>
            </div>

            <div class="data-table cases-data-table">
                <div class="data-table-header d-flex">
                    <div class="data-table-cell text-truncate text-strong bigger">
                        Name
                    </div>

                    <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                        Confirmed
                    </div>

                    <div class="data-table-cell text-truncate grouped grouped-end">
                        Today
                    </div>

                    <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                        Deaths
                    </div>

                    <div class="data-table-cell text-truncate grouped grouped-end">
                        Today
                    </div>

                    <div class="data-table-cell text-truncate text-strong grouped">
                        Recovered
                    </div>
                </div>

                <div class="data-table-rows"
                     *ngIf="isComponentReady">
                    <div class="data-table-row d-flex"
                         *ngFor="let data of _dataCases"
                         (click)="onSelectCountryByCode(data.country.code)">
                        <div class="data-table-cell text-truncate bigger">
                            {{ data.country.name }}
                        </div>

                        <div class="data-table-cell text-truncate grouped grouped-start">
                            {{ data.cases.confirmed | number }}
                        </div>

                        <div class="data-table-cell text-truncate grouped grouped-end">
                            {{ data.cases.confirmed | number }}
                            (+ 13,23%)
                        </div>

                        <div class="data-table-cell text-truncate grouped grouped-start">
                            {{ data.cases.deaths | number }}
                        </div>

                        <div class="data-table-cell text-truncate grouped grouped-end">
                            {{ data.cases.deaths | number }}
                            (13,23%)
                        </div>

                        <div class="data-table-cell text-truncate grouped">
                            {{ data.cases.recovered | number }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
