<div class="data-table-container"
     [ngClass]="customClass">
    <app-loading-indicator [appearance]="'fullwidth'"
                           *ngIf="isComponentLoading">
    </app-loading-indicator>

    <div class="data-table-filter d-flex align-items-center">
        <div class="header-component">
            {{ tableName }}
        </div>

        <div class="search-field input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <input type="text"
                   class="form-control"
                   placeholder="Search..."
                   [(ngModel)]="filterCountryName"
                   (keyup)="filterCountries($event)" />
        </div>
    </div>

    <div class="data-table cases-data-table">
        <div class="data-table-header d-flex">
            <div class="data-table-cell text-truncate text-strong bigger">
                Name
            </div>

            <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                Confirmed
            </div>

            <div class="data-table-cell text-truncate grouped grouped-end">
                Today
            </div>

            <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                Deaths
            </div>

            <div class="data-table-cell text-truncate grouped grouped-end">
                Today
            </div>

            <div class="data-table-cell text-truncate text-strong grouped">
                Recovered
            </div>
        </div>

        <div class="data-table-rows"
             *ngIf="isComponentReady">
            <div class="data-table-row d-flex"
                 [class.has-total-row]="showTotalBar"
                 *ngFor="let data of _dataCases"
                 (click)="onSelectCountryByCode(data.country.code)">
                <div class="data-table-cell text-truncate bigger">
                    {{ data.country.name }}
                </div>

                <div class="data-table-cell text-truncate grouped grouped-start">
                    <app-snippet-cases-number [cases]="data.cases.confirmed"></app-snippet-cases-number>
                </div>

                <div class="data-table-cell text-truncate grouped grouped-end">
                    <app-snippet-cases-number [cases]="data.cases.delta_confirmed"></app-snippet-cases-number>
                </div>

                <div class="data-table-cell text-truncate grouped grouped-start">
                    <app-snippet-cases-number [cases]="data.cases.deaths"></app-snippet-cases-number>
                </div>

                <div class="data-table-cell text-truncate grouped grouped-end">
                    <app-snippet-cases-number [cases]="data.cases.delta_deaths"></app-snippet-cases-number>
                </div>

                <div class="data-table-cell text-truncate grouped">
                    <app-snippet-cases-number [cases]="data.cases.recovered"></app-snippet-cases-number>
                </div>
            </div>
        </div>

        <div class="data-table-total-bar d-flex"
             *ngIf="showTotalBar">
            <div class="data-table-cell text-truncate text-strong bigger">
                Toal
            </div>

            <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                <app-snippet-cases-number [cases]="toalCases.confirmed"></app-snippet-cases-number>
            </div>

            <div class="data-table-cell text-truncate grouped grouped-end">
                <app-snippet-cases-number [cases]="toalCases.delta_confirmed"></app-snippet-cases-number>
            </div>

            <div class="data-table-cell text-truncate text-strong grouped grouped-start">
                <app-snippet-cases-number [cases]="toalCases.deaths"></app-snippet-cases-number>
            </div>

            <div class="data-table-cell text-truncate grouped grouped-end">
                <app-snippet-cases-number [cases]="toalCases.delta_deaths"></app-snippet-cases-number>
            </div>

            <div class="data-table-cell text-truncate text-strong grouped">
                <app-snippet-cases-number [cases]="toalCases.recovered"></app-snippet-cases-number>
            </div>
        </div>
    </div>
</div>
