<div class="snippet-cases-trend d-flex align-items-center"
     *ngIf="casesToday && casesYesterday">
    <span class="trend-percentage mr-1 text-right"
          *ngIf="casesToday > casesYesterday">
        + {{ (casesToday * 100 / casesYesterday) - 100 | number:'1.0-1' }}%
    </span>
    <span class="trend-percentage mr-1 text-right"
          *ngIf="casesToday < casesYesterday">
        - {{ (casesYesterday * 100 / casesToday) - 100 | number:'1.0-1' }}%
    </span>
    <span class="trend-percentage mr-1 text-right"
          *ngIf="casesToday === casesYesterday">
        0%
    </span>

    <i class="fas icon"
       [class.fa-caret-up]="casesToday > casesYesterday"
       [class.fa-caret-down]="casesToday < casesYesterday"
       [class.fa-caret-right]="casesToday === casesYesterday">
    </i>
</div>

<div class="snippet-cases-trend d-flex align-items-center"
     *ngIf="!casesToday || !casesYesterday">
    <span class="trend-percentage mr-1 text-right">
        n.A.
    </span>
    <i class="fas icon fa-virus"></i>
</div>
