.snippet-cases-trend {
    .trend-percentage {
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        text-transform: capitalize;
    }

    .icon {
        font-size: 18px;
    }
}
