<div class="container-fluid p-4 pt-5 pb-1">
    <div class="row custom-mb-30">
        <div class="col-lg-4 col-xl-2 custom-mb-30">
            <div class="card">
                <div class="card-body">
                    <div class="header-component">
                        CONFIRMED CASES<br />
                        by countries
                    </div>
                    <app-cases-country-list-compact [viewCase]="'confirmed'"
                                                    [dataCases]="totalCasesCountries"
                                                    [customClass]="'dashboard'"
                                                    [isComponentLoading]="totalCasesCountriesLoading">
                    </app-cases-country-list-compact>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-lg-4 custom-mb-30">
                    <app-cases-text-title [translationKey]="'Total confirmed'"
                                          [viewCase]="'confirmed'"
                                          [chartData]="dailyCasesWorldwide"
                                          [totalData]="totalCasesWorldwide"
                                          [isComponentLoading]="totalCasesWorldwideLoading || dailyCasesWorldwideLoading">
                    </app-cases-text-title>
                </div>
                <div class="col-lg-4 custom-mb-30">
                    <app-cases-text-title [translationKey]="'Total deaths'"
                                          [viewCase]="'deaths'"
                                          [chartData]="dailyCasesWorldwide"
                                          [totalData]="totalCasesWorldwide"
                                          [isComponentLoading]="totalCasesWorldwideLoading || dailyCasesWorldwideLoading">
                    </app-cases-text-title>
                </div>
                <div class="col-lg-4 custom-mb-30">
                    <app-cases-text-title [translationKey]="'Total recovered'"
                                          [viewCase]="'recovered'"
                                          [chartData]="dailyCasesWorldwide"
                                          [totalData]="totalCasesWorldwide"
                                          [isComponentLoading]="totalCasesWorldwideLoading || dailyCasesWorldwideLoading">
                    </app-cases-text-title>
                </div>
            </div>

            <div class="row">
                <div class="col-12 custom-mb-30">
                    <div class="card">
                        <div class="card-body main-map">
                            <app-loading-indicator [appearance]="'fullwidth'"
                                                   *ngIf="totalCasesCountriesLoading">
                            </app-loading-indicator>
                            <app-cases-map-chart [chartData]="totalCasesCountries"
                                                 [customClass]="'dashboard'"
                                                 *ngIf="!totalCasesCountriesLoading">
                            </app-cases-map-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xl-2">
            <div class="card">
                <div class="card-body">
                    <div class="header-component">
                        DEATHS<br />
                        by countries
                    </div>
                    <app-cases-country-list-compact [viewCase]="'deaths'"
                                                    [dataCases]="totalCasesCountries"
                                                    [customClass]="'dashboard'"
                                                    [isComponentLoading]="totalCasesCountriesLoading">
                    </app-cases-country-list-compact>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xl-6 custom-mb-30">
            <div class="card">
                <div class="card-body">
                    <div class="header-component">
                        Global curve
                    </div>
                    <app-cases-line-chart [chartData]="dailyCasesWorldwide"
                                          [isComponentLoading]="dailyCasesWorldwideLoading">
                    </app-cases-line-chart>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-6 custom-mb-30">
            <div class="card">
                <div class="card-body">
                    <app-cases-country-list [dataCases]="totalCasesCountries"
                                            [customClass]="'dashboard'"
                                            [isComponentLoading]="totalCasesCountriesLoading">
                    </app-cases-country-list>
                </div>
            </div>
        </div>
    </div>
</div>
