@import '../../../assets/scss/variables';

$country-list-header-height: 100px;
$country-list-margins: 272px;
$country-list-height-reducer: $country-list-header-height + $country-list-margins;

.country-list-compact {
    margin: 0 -5px;
    position: relative;

    &.dashboard {
        height: calc(100vh - #{$country-list-height-reducer});
        min-height: 320px;
        overflow: scroll;
    }

    .country-list-compact-item {
        padding: 2px 5px;
        position: relative;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            @include transition(all 0.5s ease-in-out);
            background: $app-color-grey-light;
        }

        .country-details {
            width: 100%;
            margin-bottom: 2px;
        }

        .country-flag {
            width: 27px;
            margin-right: 10px;

            img {
                width: 100%;
            }
        }

        .country-name {
            font-size: 14px;
            line-height: 19px;
            text-transform: capitalize;
            letter-spacing: 0;
        }

        .country-trend {
            width: 130px;
            position: relative;
            padding-right: 15px;
            text-align: right;

            .trend-percentage {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-transform: capitalize;
                letter-spacing: 0;
            }

            .icon {
                font-size: 16px;
                position: absolute;
                right: 0;
                top: 6px;
            }
        }

        .country-cases {
            width: 100%;
            text-align: right;
            padding-right: 20px;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 0;
            line-height: 18px;
        }
    }

    .country-list-compact-pagination {
        position: sticky;
        bottom: 0;
        background: rgba(white, 0.8);
        height: 50px;
        word-spacing: 100%;

        .pagination-button {
            @include transition(box-shadow 0.15s ease-in-out);
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background: rgba($app-color-grey-light, 0.8);
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                @include box-shadow(0 1px 8px rgba(black, 0.25));
                background: rgba($app-color-grey-light, 0.9);
            }

            &.disabled {
                background: rgba($app-color-grey-light, 0.6);
                color: rgba($font-color, 0.5);
                cursor: no-drop;

                &:hover {
                    @include box-shadow(0 1px 8px rgba(black, 0.05));
                    background: rgba($app-color-grey-light, 0.6);
                }
            }
        }
    }
}
